#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: glenyfarel # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDTaH9vF4xxrUYSzGDVwBSagImw3W481aTRE+a2UvqTYbo4udAY3WbEs6SUGXHXyXrs6S4mydMXt4O/JQah5XEom8tsMKluG4WKLKqJviBf3RQpZFFLOo5VVguYQcg/2osc1tCCzT6NglPAS0tG5N6OHxd2HiRvQEy9xDP0aLvnTR+Go/L87FG5EA8fXBtDsL6s6J6CnRYzigJNvRB8ZZbV9pSbdydEVMKCIKM0YZqHuw26+5xRFuRzJ+iCjizxr6SV5v212X8OTfaCEdRJNCfTui7zlVmyLe13Yp2H+JGXprVYhKuHau28oOwAGjqw439X2mIpvLNme2Q2tArO1Gbv glenyfarel@glenyfarel-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
